body {
    width: 90%;
    font-family: Arial, "Helvetica Neue", Helvetica, "sans-serif";
    font-size: 18px;
    background-color: #ffffff ;
    border: solid #dddddd;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    background-color: #4aaaa5;
    color:rgb(196, 191, 191);
    width: 14%;
    margin-left: 20px;
    padding: 30px;
}

/* Made header responsive, so when you hover over the header in the top left corner the background color will be black and the text will be gold*/
header:hover
{
    background-color: black;
    color: gold;
}

 nav{
   
    clear: both;
    float: right;
    margin-top: -142px;
    margin-right: 21px;
    
} 

img {
    float: left;
    height: 200px;
    width: 200px;
    margin-right: 10px;
}

/* ul {
    float:right;
    list-style-type: none;
    padding: 12px;
    background-color: #ebebeb;
    margin-top: -90px;
    height: 65.5px;
    width: 97.5%;
    
} */

li {
    float: right;
    padding: 20px;
}

li a {
    display: inline;
    color: darkgrey;
}

/*nav {
    background-color: #ebebeb;
    margin-left: 80px;
    width: 650px;
    padding: 50px;
    text-align: center;
    
}*/

div{
    background-color: #ebebeb;
    width: auto;
    /* margin-top: 40px; */
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 3px;
    padding: 20px;
    border: #dddddd;

}
h1
{
    background-color: #ebebeb;
    color: #4aaaa5;
    margin-top: 10px;
    margin-left: 80px;
    padding: 20px;
    padding-bottom: 20px;
    /*width: 650*/
    height: 40px;
}

p {
    background-color: #ebebeb;
    color: #777777;
    margin-left: 80px;
    padding: 20px;
    width: 650px;
    height: 300px;
    line-height:  25px;
}


/* ### Sticky Footer ###*/

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  
  .footer {
    background-color: #666666;
    text-align: center;
    border-top: solid #4aaaa5;
    border-width: 10px;
  }

@media screen and (max-width: 768px){
    body{display: none 
        
    }
}